.page {
    max-width: 1170px;
    height: auto;
    margin: 0px auto;
    text-align: left;

    padding-top:0px;
    margin-top:0px;
}

h3 { 
    color: #0699fa;
    margin:0px;
    padding:0px;
}

hr {
    background: #0699fa;
    border: 0; height: 1px;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.electric-title {
    font-weight:bold;
    font-size:22px;
    color:#aaa;
    padding-top:20px;
}

.power-value {
    font-weight:bold; 
    font-size:100px; 
    color:#0699fa; 
    padding-top:45px;
    padding-bottom:30px;
}

.kwh-value {
    font-weight:normal; 
    font-size:22px; 
    color:#0699fa; 
    padding-top:15px;
}

.midtext {
    font-weight:normal; 
    font-size:22px; 
    color:#0699fa;
    padding-top:2px;
    padding-bottom:2px;
}

.visnavblock {
    color:#0699fa;
    font-size:18px;
}

.visnav {

}

.visnav:hover {
    color:#0699fa;
    cursor: pointer;
}

input[type=text] {
    background-color:#444;
    color:#0699fa;
}

p {
    color:#aaa;
}
