<!DOCTYPE HTML>
<html>
<head>
    <title>Emonhub log</title>
    
    <script type="text/javascript" src="static/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="static/socket.io.min.js"></script>
    
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function(msg) {
                $('#log').append(msg.topic+" "+msg.payload+"\n");
                var h = parseInt($('#log')[0].scrollHeight);
                $('#log').scrollTop(h);
                
            });
            
            // socket.emit('my event', {data: $('#emit_data').val()});
            
            $.ajax({ url: "conf", cache: false, success: function(data){
                $("#emonhubconf").val(data);
            }});
            
            $("#saveconf").click(function(){
                $.ajax({ type:'POST', url: "conf", contentType: "text/plain", data: $("#emonhubconf").val() });
            });
            
            $("#start-emonhub").click(function(){
                $.ajax({ type:'POST', url: "emonhub/start"});
            });
            
            $("#stop-emonhub").click(function(){
                $.ajax({ type:'POST', url: "emonhub/stop"});
            });
            
            $("#restart-emonhub").click(function(){
                $.ajax({ type:'POST', url: "emonhub/restart"});
            });
            
        });
        
    </script>
    
    <style>
        pre {
            font-size:16px;
            color:#fff;
            background-color:#300a24;
            padding:20px;
            height:500px;
            overflow: scroll;
            overflow-x: hidden;
        }
        
        textarea {
            padding:20px;
            font-size:14px;
        }
    </style>
    
</head>
<body>
    <pre id="log"></pre>
    <button id="saveconf">Save conf</button>
    <button id="start-emonhub">Start emonhub</button>
    <button id="stop-emonhub">Stop emonhub</button>
    <button id="restart-emonhub">Restart emonhub</button>
    <textarea id="emonhubconf" style="width:100%; height:500px"></textarea>
</body>
</html>

